flows.json
[{"id":"7d216580.bb7e0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f23bad0e.68299","type":"inject","z":"7d216580.bb7e0c","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["fc8dd122.2b3e"]]},{"id":"63065a35.3e1d94","type":"inject","z":"7d216580.bb7e0c","name":"","topic":"","payload":",,15","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["fc8dd122.2b3e"]]},{"id":"fc8dd122.2b3e","type":"mqtt out","z":"7d216580.bb7e0c","name":"","topic":"mcs/DdSA82oX/j30ZSCDKy62rSr10/Temperature","qos":"2","retain":"","broker":"1fff1cde.cc55a3","x":430,"y":240,"wires":[]},{"id":"1fff1cde.cc55a3","type":"mqtt-broker","z":"","name":"MCS CLOUD","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]