flows (1).json
[{"id":"7f492eec.be9cc","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"b7815e7e.adda2","type":"csv","z":"7f492eec.be9cc","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":200,"y":460,"wires":[["319fb935.b64966"]]},{"id":"319fb935.b64966","type":"change","z":"7f492eec.be9cc","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":580,"wires":[["7335cd50.122394"]]},{"id":"3413165a.73a09a","type":"mqtt in","z":"7f492eec.be9cc","name":"","topic":"mcs/DdSA82oX/j30ZSCDKy62rSr10/+","qos":"2","datatype":"auto","broker":"1fff1cde.cc55a3","x":240,"y":280,"wires":[["b7815e7e.adda2"]]},{"id":"7335cd50.122394","type":"ui_gauge","z":"7f492eec.be9cc","name":"","group":"e616156.890ede8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":580,"wires":[]},{"id":"1fff1cde.cc55a3","type":"mqtt-broker","z":"","name":"MCS CLOUD","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e616156.890ede8","type":"ui_group","z":"","name":"Status","tab":"93ec092d.d70d38","order":1,"disp":true,"width":"6","collapse":false},{"id":"93ec092d.d70d38","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]